NodeRed/NODERED.json
[{"id":"b8692de2.4796d","type":"ibmiot","z":"57fc390f.a803c8","name":"IOT DEMO"},{"id":"b5211e2.f4adee","type":"switch","z":"57fc390f.a803c8","name":"Forward / Backward","property":"payload.d.ob","propertyType":"msg","rules":[{"t":"lt","v":"-15","vt":"str"},{"t":"btwn","v":"31","vt":"num","v2":"79","v2t":"num"},{"t":"gt","v":"80","vt":"str"},{"t":"btwn","v":"-15","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","outputs":4,"x":196,"y":309,"wires":[["25116a6c.daee96"],["e4028581.1bfd78"],["be58ce91.41a73"],["950575b6.6afa88"]]},{"id":"7bf88f94.84077","type":"ibmiot in","z":"57fc390f.a803c8","authentication":"apiKey","apiKey":"b8692de2.4796d","inputType":"evt","deviceId":"demo","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FROM iPhone","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":147,"y":139,"wires":[["b939c66f.46c638","eaedc251.15124"]]},{"id":"17ad2dca.e852d2","type":"function","z":"57fc390f.a803c8","name":"STOP","func":"\ndelete msg['topic']; \ndelete msg['deviceId']; \ndelete msg['deviceType'];\ndelete msg['-msgid']; \ndelete msg['sensorData'];\n \n msg.payload = JSON.stringify({\n        d: {\n            action : \"#stop\",\n            direction: 0\n          }\n    });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":538,"y":446,"wires":[["6b381ed6.94c7e"]]},{"id":"9c71b8d8.638e48","type":"ibmiot out","z":"57fc390f.a803c8","authentication":"apiKey","apiKey":"b8692de2.4796d","outputType":"cmd","deviceId":"my_little_sphero","deviceType":"sphero","eventCommandType":"run","format":"json","data":"___","name":"SEND TO BB8","service":"registered","x":961,"y":373,"wires":[]},{"id":"25116a6c.daee96","type":"function","z":"57fc390f.a803c8","name":"START","func":"\ndelete msg['topic']; \ndelete msg['deviceId']; \ndelete msg['deviceType'];\ndelete msg['-msgid']; \ndelete msg['sensorData'];\n \n msg.payload = JSON.stringify({\n        d: {\n            action : \"#start\",\n            direction: msg.payload.d.og\n            \n          }\n    });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":469,"y":258,"wires":[["6b381ed6.94c7e"]]},{"id":"be58ce91.41a73","type":"function","z":"57fc390f.a803c8","name":"GO CRAZY","func":"\ndelete msg['topic']; \ndelete msg['deviceId']; \ndelete msg['deviceType'];\ndelete msg['-msgid']; \ndelete msg['sensorData'];\n \n msg.payload = JSON.stringify({\n        d: {\n            action : \"#gocrazy\"\n          }\n    });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":475,"y":349,"wires":[["6b381ed6.94c7e"]]},{"id":"e4028581.1bfd78","type":"function","z":"57fc390f.a803c8","name":"REVERSE","func":"\ndelete msg['topic']; \ndelete msg['deviceId']; \ndelete msg['deviceType'];\ndelete msg['-msgid']; \ndelete msg['sensorData'];\n \n msg.payload = JSON.stringify({\n        d: {\n            action : \"#start\",\n            direction: 60\n          }\n    });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":467,"y":303,"wires":[["6b381ed6.94c7e"]]},{"id":"b939c66f.46c638","type":"delay","z":"57fc390f.a803c8","name":"Limit Rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":329,"y":141,"wires":[["b5211e2.f4adee"]]},{"id":"6b381ed6.94c7e","type":"delay","z":"57fc390f.a803c8","name":"Limit Rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"45","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":780,"y":373,"wires":[["9c71b8d8.638e48","869d86f3.796278"]]},{"id":"950575b6.6afa88","type":"switch","z":"57fc390f.a803c8","name":"Left / Right / Stop","property":"payload.d.og","propertyType":"msg","rules":[{"t":"btwn","v":"-25","vt":"num","v2":"25","v2t":"num"},{"t":"lt","v":"-25","vt":"str"},{"t":"gt","v":"25","vt":"str"}],"checkall":"true","outputs":3,"x":317,"y":483,"wires":[["17ad2dca.e852d2"],["d7e557e9.281aa8"],["83a5b90b.7c5a48"]]},{"id":"83a5b90b.7c5a48","type":"function","z":"57fc390f.a803c8","name":"RIGHT","func":"\ndelete msg['topic']; \ndelete msg['deviceId']; \ndelete msg['deviceType'];\ndelete msg['-msgid']; \ndelete msg['sensorData'];\n \n msg.payload = JSON.stringify({\n        d: {\n            action : \"#start\",\n            direction: 30\n          }\n    });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":543,"y":526,"wires":[["6b381ed6.94c7e"]]},{"id":"d7e557e9.281aa8","type":"function","z":"57fc390f.a803c8","name":"LEFT","func":"\ndelete msg['topic']; \ndelete msg['deviceId']; \ndelete msg['deviceType'];\ndelete msg['-msgid']; \ndelete msg['sensorData'];\n \n msg.payload = JSON.stringify({\n        d: {\n            action : \"#start\",\n            direction: 90\n          }\n    });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":484,"wires":[["6b381ed6.94c7e"]]},{"id":"869d86f3.796278","type":"debug","z":"57fc390f.a803c8","name":"DEBUG","active":false,"console":"false","complete":"payload","x":946,"y":248,"wires":[]},{"id":"eaedc251.15124","type":"debug","z":"57fc390f.a803c8","name":"","active":false,"console":"false","complete":"false","x":328,"y":66,"wires":[]}]